# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/
**/.packages
**/doc/api/
**/ios/Flutter/.last_build_id
.pub-cache/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android / Gradle
**/local.properties
**/.gradle/
**/build/
**/*.apk
**/*.aab
/android/app/debug
/android/app/profile
/android/app/release

# iOS / Xcode
ios/Pods/
**/DerivedData/
**/xcuserdata/
**/*.xcuserstate
**/*.ipa
**/*.dSYM.zip
**/*.dSYM

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# macOS
.DS_Store
**/.DS_Store

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Secrets (на случай если репо станет публичным)
*.p8
*.p12
*.cer
*.mobileprovision
*.jks
*.keystore
GoogleService-Info.plist
google-services.json
.env
.env.*
